body {
    background-color: burlywood;
}

ul {
    list-style-type: none;
    text-align: center;
    background-color: white;
}

li {
    display: inline;
}

.left {
    font-size: 30px;
    margin-inline: 30px;
    text-align: left;   
}

.middle {
    font-size: 70px;
    margin-inline: 30px;
    text-align: right;
}

.right {
    font-size: 30px;
    margin-inline: 30px;
    text-align: right;
}

